@model Bangazon.Models.PaymentType

@{
    ViewData["Title"] = "New Payment Type";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label">Payment Type Name</label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="AccountNumber" class="col-md-2 control-label">Account Number</label>
            <div class="col-md-10">
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save Payment Type" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-controller="Cart" asp-action="Index">Back to Order</a>
</div>

